body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Users-container {
  border: 1px solid #cecece;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 0.5rem;
  width: 45rem;
}

.Name {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1rem 0.5rem;
}

p {
  margin: 0;
  padding: 0;
}

.Phone-number {
  margin-bottom: 0.5rem;
}

.Email {
  margin-bottom: 0.8rem;
  padding: 0.2rem;
  text-transform: lowercase;
}

.Address {
  /* border-right: 2px solid #cecece; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.Email, .Address {
  border-right: 2px solid #cecece;
  padding: 0 0.5rem;
}

.Email:last-child, .Address:last-child {
  border-right: 0;
}


